@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтверждение электронной почты";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
@if(Model.Success)
{
    @:Теперь вы можете 
    <a asp-area="Identity" asp-page="/Account/Login">войти</a>@:.
}